@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar */

/* Firefox */
* {
  scrollbar-width: 0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0;
  display: none;
}
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* General stylings */

body {
  color: antiquewhite;
  background-color: rgb(31, 27, 27);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-effect {
    transition: all 500ms ease-in;
  }
}
