@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar */

/* Firefox */
* {
  scrollbar-width: 0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0;
  display: none;
}
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* General stylings */

body {
  color: antiquewhite;
  background-color: rgb(31, 27, 27);
  overflow-x: hidden;
  scrollbar-width: none;
}

@layer components {
  .bg-effect {
    background: rgba(192, 154, 154, 0.445);
    backdrop-filter: blur(0.03rem);
  }
}

@layer utilities {
  .bg-contact {
    background-image: url("../../public/assets/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text-balance {
    text-wrap: balance;
  }

  .smooth-effect {
    transition: all 700ms ease-in;
  }

  .btn-effect {
    transition: all 500ms ease-in;
  }

  .slideFromLeft {
    animation: slideFromLeft 800ms ease;
  }

  @keyframes slideFromLeft {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
